.gate{
  color: #fff;
  background-image: url('https://s3.amazonaws.com/myfangate.com/rdcountry/background.jpg');
  background-repeat: repeat;
  z-index: 2;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  text-align: center;
  height: 100%;
  min-height: 400px;
  overflow-y: scroll;
  color: black;
  a{
    color: black;
  }
  form{
    max-width: 320px;
    margin: 0 auto;
    input{
      margin: 0 auto;
      -webkit-min-logical-width: 80%;
    }
  }
}
